- @posts.each do |post|
  -#%h1= link_to post.id, post_path(post)a
  .post
    .page-heder
      %h1= post.title
      %small=l post.created_at, :format => :full
    .lead
      =raw post.description
    =link_to 'Read More...', post_path(post), class:'pull-right'
  %hr
